<html>
<head>
    <title>lol</title>
    <link href="{{static_url}}css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Feed ND</h1>
    <ul>
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Accounts</a></li>
    </ul>
    
    <h2>Restaurants Near You</h2>

    <table>
        {% for each in restaurants %}
        <tr>
            <td>
                <h3><a href="{{each[1][0]}}">{{ each[0] }}</a></h3>
                <ul>
                    <li>{{ each[1][1] }}</li>
                    <li>Latitude: {{ each[1][2] }}</li>
                    <li>Longitude: {{ each[1][3] }}</li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
