<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>

    {% if res %}
    <!--markdown and mathjax-->
    <link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/prettify-small/prettify.js"></script>
    <script type="text/javascript" src="/static/js/behave.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <style>
        .resizable{
          resize: vertical;
          overflow: auto;
        }       
    </style>
    {% end %}
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>           
                <a class="navbar-brand" href="#">{{ username }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/loonblog/logout">Logout</a>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="/loonblog/articlelist">Articles</a>
                </li>
                <li>
                    <a href="/loonblog/newarticle">New Article</a>
                </li>
                <li>
                    <a href="/loonblog/search">Search Article</a>
                </li>
                <li>
                    <a href="/loonblog/editprofile">Edit Profile</a>
                </li>
                <li>
                    <img src="/static/img/main.gif" alt="qbl" class="img-rounded"/>             
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
        {% if res %}
            <div id="group-hide" style="display:none">
                <button type="button" class="btn btn-default" onclick="preview_update()">Show Original Content</button>
                <h3 id="preview-title"></h3>
                <div id="preview"></div>
            </div>

            <form role="form" id="wmd-input-form" method=post action="/loonblog/edit-{{ res[0] }}-article">
                {% module xsrf_form_html() %}
                <div class="input-group">
                    <div class="input-group-addon">Title</div>
                    <input type="text" class="form-control" name="title" id="title" value="{{ res[1] }}">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">Save</button>
                    </span>
                </div>
                <div class="form-group">
                    <h3><label for="Content">Content</label></h3>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" onclick="preview_update()">Preview</button>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#insert_pic_modal" id="ins_pic">Insert a Picture</button>
                    </div>
                    <textarea class="form-control resizable" name="content" rows=23 id="wmd-input">{{ res[2] }}</textarea>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">Tags</div>
                    <input type="text" class="form-control" name="tags" id="tags" value="{{ tags }}">
                </div>
            </form>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h1 class="text-center">Ooops! No requested article</h1>
            </div>          
        {% end %}
        </div>
    </div>
</div>
    {% if res %}
    <!-- Modal -->
    <div class="modal fade" id="insert_pic_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Update a picture</h4>
                </div>
                <div class="modal-body">
                    <form role="form" action="/loonblog/pictures" enctype="multipart/form-data" method=post id="upload-pic">
                        {% module xsrf_form_html() %}
                        <div class="form-group">
                            <label for="file">Upload a picture: </label>
                            <input type="file" id="upload_pic" name="upload_pic"/>
                        </div>
                        <button class="btn btn-info" type="Submit">Upload</button>
                    </form>             
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#upload-pic").on('submit', function(event){
            $("#insert_pic_modal").modal('hide');
            var w = window.open('about:blank','Popup_Window','scrollbars=yes,width=400,height=300,left = 312,top = 234');
            this.target = 'Popup_Window';
        });
        var editor = new Behave({
            textarea: document.getElementById("wmd-input"),
            softTabs: true,
            tabSize: 4,
            autoIndent: true
        });
        var converter = new Markdown.Converter();
        Markdown.Extra.init(converter, {highlighter: "prettify"});
        
        MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
                displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
                processEscapes: true
                },
            "HTML-CSS": {availableFonts: ["TeX"]}
        });
        
        var toggle = 1;
        function preview_update()
        {
            var wmd_input = document.getElementById("wmd-input");
            var wmd_input_form = document.getElementById("wmd-input-form");
            var group_hide = document.getElementById("group-hide");
            if(toggle)
            {
                var preview = document.getElementById("preview");
                preview.innerHTML = converter.makeHtml(wmd_input.value); // convert markdown to html
                prettyPrint();//after converted to html, call this function to prettify the code 
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "preview"]); // convert to formula
                document.getElementById("preview-title").innerHTML = document.getElementById("title").value;
                
                wmd_input_form.style.display = 'none';
                group_hide.style.display = '';
            }
            else
            {
                wmd_input_form.style.display = '';
                group_hide.style.display = 'none';
            }
        
            toggle ^= 1;
        };
        
        function hotkey(e)
        {
            var evt = e || window.event;
            var letter = evt.keyCode;
            if((letter == 109 || letter == 77) && (evt.ctrlKey) && (evt.altKey))
            {
                preview_update();
            }
            else if((letter == 73 || letter == 105) && (evt.ctrlKey) && (evt.altKey))
            {
                $("#ins_pic").trigger("click");
            }
        }
        document.onkeydown = hotkey;
    </script>   
    {% end %}
</body>
</html>
