<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>           

                <a class="navbar-brand" href="#">{{ username }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/loonblog/logout">Logout</a>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/loonblog/articlelist">Articles</a>
                </li>
                <li>
                    <a href="/loonblog/newarticle">New Article</a>
                </li>
                <li>
                    <a href="/loonblog/search">Search Article</a>
                </li>
                <li class="active">
                    <a href="#">Edit Profile</a>
                </li>
                <li>
                    <img src="/static/img/main.gif" alt="qbl" class="img-rounded"/>             
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div class="container">
                <div class="col-md-4 column">
                    <form role="form" action="/loonblog/editprofile" method=post>
                        {% module xsrf_form_html() %}
                        <div class="form-group">
                             <label for="username">Username</label>
                             <input type="text" name="username" class="form-control" id="username" placeholder="{{ username }}"/>
                        </div>
                        <div class="form-group">
                             <label for="password">Old password</label>
                             <input type="password" class="form-control" id="old-password" name="old-password" placeholder="Old password"/>
                        </div>
                        <div class="form-group">
                             <label for="password">New password</label>
                             <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New password"/>
                        </div>
                        <div class="form-group">
                             <label for="confirm-password">Confirm password</label>
                             <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm password"/>
                        </div>
                        <button type="submit" class="btn btn-primary">Modify</button>
                        <a href="/loonblog/deleteuser"><button type="button" class="btn btn-danger">Delete</button></a>
                    </form>
                </div>
                <div class="col-md-8 column"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
