<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link href="/static/css/messenger-theme-future.css" rel="stylesheet">
    <link href="/static/css/messenger.css" rel="stylesheet">

</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>           
                <a class="navbar-brand" href="#">LoonBlog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="form" method=post action="/loonblog/login" id="login-form">
                            {% module xsrf_form_html() %}
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="/loonblog/register"><button type="button" class="btn btn-primary">Register</button></a>
                        </form>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row clearfix">  
        <div class="col-md-5 column"></div>
        <div class="col-md-2 column">
            <img src="/static/img/main.gif" alt="qbl" class="img-rounded"/>
        </div>
        <div class="col-md-5 column"></div>
    </div>
    <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
            <br/>
            <form role="form" action="/loonblog/searchall" method=post>
                {% module xsrf_form_html() %}
                <label class="radio-inline">
                    <input type="radio" name="search_option" value="Tag" checked>Tag
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search_option" value="Title">Title
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search_option" value="Author">Author
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search_option" value="Year">Year
                </label>
                <label class="radio-inline">
                    <input type="radio" name="search_option" value="Content">Content
                </label>

                <div class="input-group">
                    <input type="text" class="form-control" id="search_content" name="search"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="Submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-3 column">
        </div>
    </div>
</div>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/messenger.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
</body>
</html>
