{% import time %}
{% for each in res %}
<div class="list-group-item">
    <h2><a href="/loonblog/view-{{ each[0] }}-article">{{ each[1] }}</a></h2>
    <label class="label label-primary">{{ time.ctime(each[2]) }}</label>
    <p>{{ each[3] }} ...</p>
</div>
{% end %}

