{% import time %}
{% for each in res %}
    <div class="list-group-item">
        <h2><a href="/loonblog/view-{{ each[0] }}-article">{{ each[1] }}</a></h2>
        <label class="label label-primary">{{ time.ctime(each[2]) }}</label>
        <a class="label label-primary" href="/loonblog/edit-{{ each[0] }}-article">Edit</a>
        <p>{{ each[3] }} ...</p>
    </div>
{% end %}

