<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link href="/static/css/messenger-theme-future.css" rel="stylesheet">
    <link href="/static/css/messenger.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/messenger.js"></script>
    <script src="/static/js/ZeroClipboard.js"></script>

    <style>
        .zeroclipboard-is-hover{
            background-color: #eeeeee;
            cursor:'hand';
        }
    </style>
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                       
                <a class="navbar-brand" href="#">{{ username }}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/loonblog/logout">Logout</a>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column">
            <ul class="nav nav-pills nav-stacked">
                <li>
                    <a href="/loonblog/articlelist">Articles</a>
                </li>
                <li>
                    <a href="/loonblog/newarticle">New Article</a>
                </li>
                <li>
                    <a href="/loonblog/search">Search Article</a>
                </li>
                <li>
                    <a href="/loonblog/editprofile">Edit Profile</a>
                </li>
                <li class="active">
                    <a href="/loonblog/pictures">pictures</a>
                </li>
                <li>
                    <img src="/static/img/main.gif" alt="qbl" class="img-rounded"/>             
                </li>
            </ul>
        </div>
        <div class="col-md-10 column">
            <div class="row">
                <div class="col-md-7 column copy-mark">
                    {% if info_field == None%}
                    {% elif info_field == False %}
                    <div class="alert alert-danger" role="alert">Upload file failed!!!</div>
                    {% else %}
                    <div class="alert alert-success" role="alert">Uploaded file:
                        <span class="copy-current" data-toggle='tooltip' data-placement=bottom title='Click to copy'>{{ info_field }}</span>
                    </div>
                    {% end %}
                </div>
                <div class="col-md-5 column"></div>
            </div>


        {% if pics %}
            <div class="row">
            {% for i, each in enumerate(pics) %}
                {% if (i > 0) and (i%3 == 0) %}
            </div>
            <div class="row">
                {% end %}
                <div class="col-sm-6 col-md-4 copy-mark">
                    <div class="thumbnail">
                        <img alt="pic" src="/static/pictures/{{ each }}" />
                    </div>
                    <div class="caption copy-current" data-toggle='tooltip' data-placement=bottom title='Click to copy'>![image](/static/pictures/{{ each }})</div>
                </div>
            {% end %}
            </div>
        {% end %}
        </div>
    </div>
</div>

    <script>
        $(function(){
            $('[data-toggle="tooltip"]').tooltip();

            $(".copy-mark").mouseenter(function(){
                var $cp_cur = $(this).find('.copy-current');
                $cp_cur.attr("id", "copy-me");
                var client = new ZeroClipboard(document.getElementById("copy-me"));

                $cp_cur.attr("data-clipboard-text", $cp_cur.html());

                client.on("aftercopy", function(event)
                {
                    $.globalMessenger().post({
                            message: "Copied to clipboard:\n\n" + event.data['text/plain'] + "\r\n",
                            type: "success",
                            showCloseButton: "true",
                            id: 1
                        });
                });

            }).mouseleave(function(){
                var $cp_cur = $(this).find('.copy-current');
                $cp_cur.removeAttr("id");
                $cp_cur.removeAttr("data-clipboard-text");
            });
        });


    </script>
</body>
</html>
