<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link href="/static/css/messenger-theme-future.css" rel="stylesheet">
    <link href="/static/css/messenger.css" rel="stylesheet">
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                       
                <a class="navbar-brand" href="#">LoonBlog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="form" method=post action="/loonblog/login" id="login-form">
                            {% module xsrf_form_html() %}
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="/loonblog/register"><button type="button" class="btn btn-primary">Register</button></a>
                        </form>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row clearfix">
            <div class="row">
                <div class="col-md-7 column">
                    <form role="form" action="/loonblog/searchall" method=post id="search_input_form">
                        {% module xsrf_form_html() %}
                        <label class="radio-inline">
                            <input type="radio" name="search_option" value="Tag" {% if checked=='Tag' %}checked{% end %}>Tag
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="search_option" value="Title" {% if checked=='Title' %}checked{% end %}>Title
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="search_option" value="Author" {% if checked=='Author' %}checked{% end %}>Author
                        </label>                        
                        <label class="radio-inline">
                            <input type="radio" name="search_option" value="Year" {% if checked=='Year' %}checked{% end %}>Year
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="search_option" value="Content" {% if checked=='Content' %}checked{% end %}>Content
                        </label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="search_content" name="search" {% if search_content %} value="{{ search_content }}" {% end %}/>
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="Submit">Search</button>
                            </span>
                        </div>
                    </form>             
                </div>
                <div class="col-md-5 column"></div>
            </div>

            <div class="row">
                <div class="col-md-12 column">
                {% if search_content %}
                    {% if res %}
                        {% import time %}
                    <div class="list-group" id="partial_result">
                        {% for each in res %}
                        <div class="list-group-item">
                            <h2><a href="/loonblog/viewall-{{ each[0] }}-article">{{ each[1] }}</a></h2>
                            <label class="label label-primary">{{ time.ctime(each[2]) }}</label>
                            <p>{{ each[3] }} ...</p>
                        </div>
                        {% end %}
                    </div>
                    {% else  %}
                    <div class="alert alert-danger" role="alert">
                        <h1 class="text-center">Ooops! No results</h1>
                    </div>
                    {% end %}
                {% end %}
                </div>
            </div>
    </div>
</div>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/messenger.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>

{% if res %}
    <script type="text/javascript" src="/static/js/jquery-paged-scroll.min.js"></script>
    <script type="text/javascript" src="/static/js/request_next_search_result.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($){
            run_paged_scroll("/loonblog/searchall", $('input[name="search_option"]:checked', '#search_input_form').val(), $('#search_content').val());
        });
    </script>
{% end %}
</body>
</html>
