<html>
<head>
    <meta charset="utf-8">
    <title>LoonBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/img/favicon.png">

    <link href="/static/css/messenger-theme-future.css" rel="stylesheet">
    <link href="/static/css/messenger.css" rel="stylesheet">

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    
    {% if res %}
    <!--markdown and mathjax-->
    <link href="/static/css/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/prettify-small/prettify.js"></script>
    <script type="text/javascript" src="/static/js/behave.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Converter.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Sanitizer.js"></script>
    <script type="text/javascript" src="/static/js/pagedown/Markdown.Editor.js"></script>
    <script type="text/javascript" src="/static/js/Markdown.Extra.js"></script>
    <script type="text/javascript" src="/static/js/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>   
    {% end %}
</head>

<body onload="convert()">
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                       
                <a class="navbar-brand" href="#">LoonBlog</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/loonblog">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form" role="form" method=post action="/loonblog/login" id="login-form">
                            {% module xsrf_form_html() %}
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email address" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" placeholder="Password" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success">Login</button>
                            <a href="/loonblog/register"><button type="button" class="btn btn-primary">Register</button></a>
                        </form>
                    </li>
                    <li>
                        <img src="/static/img/main2.gif" class="img-circle"/>
                    </li>                   
                </ul>
            </div>
        </div>
    </div>


<div class="container">
    <div class="row clearfix">
        {% if res %}    
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <h2>{{ res[1] }}</h2>
                </div>

                <div class="panel-body">
                    <textarea class="hide" id="wmd-input" readonly="readonly">{{ res[2] }}</textarea>
                    <div id="preview"></div>
                </div>
            </div>

            <script type="text/javascript">
                function convert(){
                    var converter = new Markdown.Converter();
                    Markdown.Extra.init(converter, {highlighter: "prettify"});
                    
                    MathJax.Hub.Config({
                        extensions: ["tex2jax.js"],
                        jax: ["input/TeX", "output/HTML-CSS"],
                        tex2jax: {
                            inlineMath: [ ['$', '$'], ["\\(", "\\)"] ],
                            displayMath: [ ['$$', '$$'], ["\\[", "\\]"] ],
                            processEscapes: true
                            },
                        "HTML-CSS": {availableFonts: ["TeX"]}
                    });
                    
                    var wmd_input = document.getElementById("wmd-input");
                    var preview = document.getElementById("preview");
                    preview.innerHTML = converter.makeHtml(wmd_input.value);
                    prettyPrint();
                    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "preview"]);
                };
                
            </script>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <h1 class="text-center">Ooops! No requested article</h1>
            </div>          
        {% end %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="delete_article" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Warning</h4>
      </div>
      <div class="modal-body">
        Are you sure to delete this article???
      </div>
      <div class="modal-footer">
        <a href="/loonblog/delete-{{ res[0] }}-article"><button type="button" class="btn btn-danger">Yes</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
    <script type="text/javascript" src="/static/js/messenger.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
</body>
</html>
