<html>
<head>
    <title>lol</title>
    <link href="{{static_url}}css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <h1>Feed ND</h1>
    <ul>
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Accounts</a></li>
    </ul>
    
    <h2>Restaurants Near You</h2>

    <table>
        {% for each in restaurants %}
        <tr>
            <td>
                <h3>{{ each[0] }}</h3>
                <ul>
                    <li>{{ each[1][0] }}</li>
                    <li>{{ each[1][1] }} meters.</li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
