<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Loon">

    <title>FeedND | Restaurants</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->      
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FeedND</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/restaurants">Restaurants</a></li>
                    <li><a href="/orders/1">Orders</a></li>
                    <li><a href="/users/me">Account</a><li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">
        <div class="jumbotron">
            <h1>FeedND</h1>
            <p>Your favorite foods are all here.</p>
        </div>

        <div class="page-header">
            <h1>Restaurants Nearby</h1>
        </div>
            
            
        <div class="container-fluid">
            <ul class="list-group restaurant-list no-gutter">
            {% set i=0 %}
            {% for restID, dist in restaurants.iteritems() %}
                {% if i == 0 %}
                <div class="row">
                {% elif i%3 == 0%}
                </div>
                <div class = "row">
                {% endif %}
                <li class="list-group-item restaurant-list-item col-md-4">
                    <a href="restaurants/{{restID}}">
                        <h4 class="list-group-item-heading">
                            {{info[restID][4]}}
                        </h4>
                        <p class="list-group-item-text">{{ info[restID][0] + ', ' + info[restID][1] + ', ' + info[restID][2]}}</p>
                        <p class="list-group-item-text">{{ dist }} feet.</p>
                    </a>
                    <div class="list-group category-sublist"></div>
                </li>
                {% set i = i+1%}
            {% endfor %}
            </ul>
        </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
