<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Loon">

    <title>FeedND | Orders</title>

    <link href="/static/css/main.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->      
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FeedND</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/restaurants">Restaurants</a></li>
                    <li class="active"><a href="/orders/1">Orders</a></li>
                    <li><a href="/user/registration">Account</a><li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">
        <div class="jumbotron">
            <h1>FeedND</h1>
            <p>Unpaid orders</p>
        </div>

        <div class="container-fluid">
        {% for each_order in orders %}
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">orderId: {{each_order.orderId}}</li>
                <li class="list-group-item list-group-item-danger">total cost: {{each_order.total_cost}}</li>
                <li class="list-group-item list-group-item-danger">total cnt: {{each_order.total_cnt}}</li>
                <li class="list-group-item list-group-item-danger">last_activity: {{each_order.last_activity}}</li>
                <li class="list-group-item">
            {% for each_order_item in each_order.order_item  %}
                <ul class="list-group">
                    <li class="list-group-item list-group-item-info">name: {{each_order_item.name}}</li>
                    <li class="list-group-item list-group-item-info">total price: {{each_order_item.total_price}}</li>
                    <li class="list-group-item list-group-item-info">cnt: {{each_order_item.cnt}}</li>
                    <li class="list-group-item list-group-item-info">
                {% for each_order_option in each_order_item.order_option %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">name: {{each_order_option.name}}</li>
                        <li class="list-group-item list-group-item-success">add price: {{each_order_option.add_price}}</li>
                        <li class="list-group-item list-group-item-success">cnt: {{each_order_option.cnt}}</li>
                    </ul>
                {% endfor %}
                    </li>
                </ul>
            {% endfor %}
                </li>
            </ul>
        {% endfor %}
        </div>
    </div>

    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
