<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Loon">

    <title>FeedND | Restaurants</title>

    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/messenger-theme-future.css" rel="stylesheet">
    <link href="/static/css/messenger.css" rel="stylesheet">
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->      
</head>

<body>
    <div id="userId" class="hidden">1</div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">FeedND</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/restaurants">Restaurants</a></li>
                    <li><a href="/orders/1">Orders</a></li>
                    <li><a href="/user/registration">Account</a><li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </nav>

    <div class="container-fluid theme-showcase" role="main">
        <div class="jumbotron">
            <h1>{{ general_info[0] }}</h1>
            <p>{{ general_info[1] + ', ' + general_info[2] + ', ' + general_info[3] + ', ' + general_info[4]}}</p>
        {% if categories %}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Categories:</div>
            <div class="panel-body">
            {% for each in categories %}
                <span class="btn btn-info">{{each}}</span>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Open Hours:</div>
            <div class="panel-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Monday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['M']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Tuesday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['T']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Wednesday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['W']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Thursday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['TH']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Friday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['F']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Saturday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['S']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Sunday<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for each in open_hours['SU']%}
                        <li>{{each}}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- cuisines -->
        {% if cuisines %}
        <div class="panel panel-info">
            <div class="panel-heading">Cuisines</div>
            <div class="panel-body">
            {% for each in cuisines %}
                <span class="btn btn-info">{{ each }}</span>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        <!-- menus -->
        {% if menus %}
        <div class="panel panel-info">
            <div class="panel-heading">Menus</div>
            <div class="panel-body">
                <div id="alerts"></div>
            {% for menu in menus %}
                <div class="panel panel-success">
                    <div class="panel-heading"><a class="menu" href="/restaurants/{{menu[1]}}/menus/{{menu[0]}}"><span class="caret"></span>{{menu[2]}}</a></div>
                    <div id="menu-{{menu[0]}}"></div>
                </div>
            {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}

        <!-- similar venus -->
        {% if similar_venus %}
        <div class="panel panel-info">
            <div class=panel-heading>Similar Venus</div>
            <ul class="list-group">
            {% for each in similar_venus %}
                <li class="list-group-item"><a href="/restaurants/{{ each[0] }}">{{ each[1] }}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="/static/js/restaurants.js"></script>
    <script src="/static/js/menus.js"></script>
    <script src="/static/js/sections.js"></script>
    <script src="/static/js/subsections.js"></script>
    <script src="/static/js/menu_items.js"></script>
    <script src="/static/js/messenger.min.js"></script>
</body>
</html>

